// Colors
$formGradientStart: #030030;
$formGradientEnd: #a5082e;
$backgroundBlueGradient: #080078;
$backgroundRedGradient: #be0533;
$textColor: #e0e0e0;

$blue-100: #cce4f6;
$blue-200: #99c9ed;
$blue-300: #66afe5;
$blue-400: #3394dc;
$blue-500: #0079d3;

// Fonts
$font-size-base: 16px;
$font-family: "Arial", sans-serif;
