@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.mainHeader {
  @include linear-gradient(to right, $formGradientStart, $formGradientEnd);
  padding: 1rem 0;
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}

.navbar {
  background: transparent;
}

.logo {
  color: $textColor;
  font-weight: bold;
  font-size: 1.5rem;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.navItems {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navLink {
  color: rgba(224, 224, 224, 0.7);
  transition: color 0.3s ease, transform 0.3s ease;

  &:hover {
    color: $textColor;
    transform: translateY(-2px);
  }
}

.signupButton {
  background: $textColor;
  color: $formGradientStart;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  &:hover {
    background: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
}
